<%- include('../partials/header') %>

<body>
    <form method="POST" action="/admin/login">
        <div class="form-head">
            <h1>Login</h1>
        </div>
        <div class="form-body">
            <div class="name">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div class="pass">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div class="button-container">
                <button type="submit">Login</button>
            </div>
        </div>
    </form>
</body>
</html>