.journalList-container {
    /* border: 3px dotted violet; */
    padding: 1em;
    margin-top: 10%;
    margin-bottom: 5%;
}

.journal-volume-container {
    /* border: 2px solid black; */
    justify-content: space-between;
    align-items: center;
    font-size: 1.6em;
    font-weight: 900;
    font-family: "Montserrat";
    margin-bottom: 3%;
}
.journal-volume-container > div {
    border: 2px solid black;
    border-radius: 0.8em;
    padding: 0.5em 1em;
    width: 30%;
    background-color: var(--primary-red);
}
.journal-volume-container > div:hover {
    color: white;
    cursor: pointer;
    background-color: #fd00549a;
}
.journal-card-wrapper {
    justify-content: space-between;
    align-items: center;
}
.journal-card-container {
    border: 2px solid var(--primary-red);
    /* background-color: rgba(253, 226, 226, 0.349); */
    background-color: rgba(161, 161, 161, 0.404);
    font-family: var(--navbar-font-family);
    margin: 0.5em 0;
    width: 95%;
    padding: 1em 1em 0 1em;
    border-radius: 0.5em;
}

.journal-card-title {
    /* border: 2px dashed blue; */
    /* font-family: 'Lucida Sans'; */
    font-family: var(--navbar-font-family);
    padding: 0.3em 1em;
    font-size: 1.4em;
    font-weight: 900;
}

.journal-card-author {
    /* border: 2px dashed green; */
    padding: 1em;
    font-size: 1.2em;
    font-family: var(--navbar-font-family);
    /* letter-spacing: 0.1em; */
}

.journal-card-author span {
    font-weight: 400;
    font-family: var(--navbar-font-family);
}

.journal-card-content {
    /* border: 2px dashed rgb(18, 67, 68); */
    text-align: justify;
    /* font-family: 'Lato'; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    font-size: 1.4em;
    font-family: var(--navbar-font-family);
    padding: 0 1em 1em 1em;
}
.journal-card-slug {
    font-family: var(--navbar-font-family);
    font-size: 1em;
    /* display: inline; */
    max-width: 100%;
}
.journal-card-slug > p {
    font-size: 0.7em;
}

.journal-card-details {
    /* border: 3px dashed darkturquoise; */
    width: 100%;
    margin-top: 0.5em;
    /* display: inline; */
    /* min-width: 20%; */
    padding: 0 1rem 0 0;
}
.journal-card-details > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.read-more {
    background-color: var(--primary-red);
    border: none;
    border-radius: 0.6rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
    padding: 0.4rem 0.6rem;
}

.recently-added {
    div {
        justify-content: flex-start;
        padding: 0.4rem;
    }
    h2 {
        font-family: var(--heading-font-family);
        font-weight: var(--heading-font-weight-normal);
        font-size: 3em;
        padding-left: 0.6em;
        padding-bottom: 0.6em;
    }
}

.recently-added-heading {
    width: 100%;
}

@media (max-width: 1024px) {
    .journalList-container {
        margin-top: 22%;
    }
    .journal-volume-container {
        flex-direction: column;
    }
    .journal-volume-container > div {
        margin-top: 0.5rem;
        width: 100%;
        text-align: center;
    }
    .journal-card-container {
        padding: 1em 1em 0 1em;
    }
    .journal-card-content {
        flex-direction: column;
    }
    .journal-card-slug {
        max-width: 100%;
    }
    .journal-card-details {
        margin-top: 1rem;
    }

    .recently-added {
        div {
            justify-content: flex-start;
            padding: 0.2rem;
        }
        h2 {
            font-family: var(--heading-font-family);
            font-weight: var(--heading-font-weight-normal);
            font-size: 2.5em;
            padding-left: 0.2em;
            padding-bottom: 0.4em;
        }
    }
}
