<content class="flex flex-column about-us">
    <div class="flex flex-row about-us-heading">
        <h2 id="about">About Us</h2>
    </div>

    <div class="about-us-content">
        <p>
            The Journal shall be an annual feature and solicits contribution of
            commentaries on factual cases as well as articles of academic or theoretical
            nature on the subject, which will be reviewed and published for understanding and dealing with
            conflict situations and furtherance of peace studies.

        <p>
            ‘Online Indian Journal of Peace and Conflict Resolution’ is a novel initiative started by Dr.
            Jyoti M. Pathania to study, examine and analyse the multifarious methods, mechanisms and
            theories of conflict resolution used by organizations, institutions, social activists,
            academicians, individuals, practitioners etc.in the resolution of various types of conflicts and
            thereby collate successful models and practices which could be referred to or tried out in
            similar cases/areas of dispute,
            thus positively contributing and helping in the creation of a peaceful society and Nation.
        </p>
        <p>
            The Journal shall be an annual feature and solicits contribution of commentaries on factual cases as
            well as articles of academic or theoretical nature on the subject, which will be reviewed and
            published for understanding and dealing with conflict situations and furtherance of peace studies.
        </p>
    </div>
</content>