<header>
    <div class="banner-container">
        <div class="oijpcr-heading">
            <p class="oijpcr-heading-font">
                <b>O</b>nline 
                <b>I</b>ndian
                <b>J</b>ournal of 
                <b>P</b>eace
            </p>
            <p class="oijpcr-heading-font">
                and 
                <b>C</b>onflict
                <b>R</b>esolution
            </p>
        </div>
        <div class="oijpcr-right-img">
            <img src="assets/gif/homegif.gif" alt="Home">
        </div>
    </div>
    <div class="flex flex-row scroll-arrow">
        <div>
            <a href="#about">
                <img src="assets/gif/scroll_down.gif" alt="scroll down">
            </a>
        </div>
    </div>
</header>