<footer>
<div class="bg-wave">
    <div class="social-icons flex">
        <a href="/">
            <img src="/assets/svg/footer/facebook.svg" alt="facebook">
        </a>
        <a href="/">
            <img src="/assets/svg/footer/linkedin.svg" alt="linkedin">
        </a>
        <a href="/">
            <img src="/assets/svg/footer/instagram.svg" alt="instagram">
        </a>
        <a href="/">
            <img src="/assets/svg/footer/twitter.svg" alt="twitter">
        </a>
    </div>
    <div class="copyright">
        <label>
            &copy; 2020 OIJPCR. All Rights Reserved
        </label>
    </div>
    <div class="contact-us">
        <h4>Contact Us</h4>
        <div class="flex">
            <div class="contact-us-icon">
                <!-- <img src="/assets/svg/teamMember.svg" alt="Team Member"> -->
            </div>
            <div class="contact-us-details">
                <h6>Managing Editor</h6>
                <p>meoijpcr@gmail.com</p>
            </div>
        </div>
    </div>
</div>
</footer>
</body>

</html>