<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <base href="/">
    <link rel="icon" href="assets/svg/favicon.svg" type="image/svg">
    <link rel="stylesheet" type="text/css" href="css/<%=css%>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
    <script src="js/toggleButton.js" defer></script>
</head>