<nav>
    <div class="logo">
    </div>

    <div class="flex flex-row">
        <div>Home</div>
        <div>About Us</div>
        <div>Journals</div>
        <div>Podcast</div>
        <div>Submit Article</div>
    </div>
</nav>