<nav class="flex flex-row">
    <div class="logo">
    </div>

    <div class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>

    <div class="nav-links nav-font">
        <div><a href="#">Home</a></div>
        <% if(isHomePage) { %>
            <div><a href="#about" id="aboutUs">About Us</a></div>
        <% } else { %>
            <div><a href="/" id="aboutUs">About Us</a></div>
        <% } %>
            <div><a href="/journals" target="_blank">Journals</a></div>
        <div><a href="/" target="_blank">Expert View</a></div>
        <div><a href="/podcast" target="_blank">Podcast</a></div>
        <div><a href="/submit" target="_blank" class="submit-button">
                <button class="nav-font">
                    Submit Article
                </button>    
            </a>
        </div>
    </div>
</nav>