<div class="our-team-heading">
    <h4>Our Team</h4>
</div>
<content class="team-container">
    <div class="team-member-card">
        <div class="team-member-details flex flex-column">
            <div class="team-member-image flex">
                <img src="assets/svg/teamMember.svg">
            </div>
            <div class="team-member-name">
                <p>
                    <b>Lorem Ipsum</b>
                </p>
            </div>
            <div class="team-member-position">
                <p>
                    Co-Founder
                </p>
            </div>
            <div class="team-member-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nostrum quasi iure id accusamus quibusdam ea mollitia architecto sint laborum est,
                    vel quos aspernatur ex voluptatibus ipsum incidunt veniam! Itaque, totam.
                </p>
            </div>
        </div>
    </div>

    <div class="team-member-card">
        <div class="team-member-details flex flex-column">
            <div class="team-member-image flex">
                <img src="assets/svg/teamMember.svg">
            </div>
            <div class="team-member-name">
                <p>
                    <b>Lorem Ipsum</b>
                </p>
            </div>
            <div class="team-member-position">
                <p>
                    Founder
                </p>
            </div>
            <div class="team-member-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nostrum quasi iure id accusamus quibusdam ea mollitia architecto sint laborum est,
                    vel quos aspernatur ex voluptatibus ipsum incidunt veniam! Itaque, totam.
                </p>
            </div>
        </div>
    </div>

    <div class="team-member-card">
        <div class="team-member-details flex flex-column">
            <div class="team-member-image flex">
                <img src="assets/svg/teamMember.svg">
            </div>
            <div class="team-member-name">
                <p>
                    <b>Lorem Ipsum</b>
                </p>
            </div>
            <div class="team-member-position">
                <p>
                    Founder
                </p>
            </div>
            <div class="team-member-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nostrum quasi iure id accusamus quibusdam ea mollitia architecto sint laborum est,
                    vel quos aspernatur ex voluptatibus ipsum incidunt veniam! Itaque, totam.
                </p>
            </div>
        </div>
    </div>
</content>