<div class="our-team-heading">
    <h4>Our Team</h4>
</div>
<content class="team-container">
    <div class="team-member-card">
        <div class="team-member-details flex flex-column">
            <div class="team-member-image flex">
                <!-- <img src="assets/svg/teamMember.svg"> -->
                <img src="/assets/images/member_1.jpg">
            </div>
            <div class="team-member-name">
                <p>
                    <b>Dr.Jyoti M Pathania</b>
                </p>
            </div>
            <div class="team-member-position">
                <p>
                    Founding Editor
                </p>
            </div>
            <div class="team-member-description">
                <p>
                    Author, Academic and Research Analyst with over 20 years of teaching, training and research
                    experience in various Indian universities.Her areas of interests and specialisation are
                    International Politics, Diplomacy, Conflict Resolution & Peace, United Nations, Women issues,
                    Non-Traditional Security and South Asia.
                </p>
            </div>
        </div>
    </div>

    <div class="team-member-card">
        <div class="team-member-details flex flex-column">
            <div class="team-member-image flex">
                <img src="/assets/images/member_2.jpg">
            </div>
            <div class="team-member-name">
                <p>
                    <b>Preeti Mankotia</b>
                </p>
            </div>
            <div class="team-member-position">
                <p>
                    Media Head
                </p>
            </div>
            <div class="team-member-description">
                <p>
                    Experienced Strategic Sales with a 
                    demonstrated history of working in the financial 
                    services industry. Skilled in Portfolio Management,
                    Relationship Management, Business Planning and Sales. 
                    Strong sales professional with a 
                    MBA focused in Marketing & Finance
                    from Symbiosis International University.
                </p>
            </div>
        </div>
    </div>

    <div class="team-member-card">
        <div class="team-member-details flex flex-column">
            <div class="team-member-image flex">
                <img src="/assets/images/member_3.jpg">
                <!-- <img src="assets/svg/teamMember.svg"> -->
            </div>
            <div class="team-member-name">
                <p>
                    <b>Shomaila Tahzib</b>
                </p>
            </div>
            <div class="team-member-position">
                <p>
                    Managing Editor
                </p>
            </div>
            <div class="team-member-description">
                <p>
                    Shomaila Tahzib is a social activist 
                    and research scholar with a keen 
                    focus on socio-political and gender parity issues.
                    She is actively involved in awareness 
                    campaigns among underprivileged women folk. 
                    She is a Master in Political Science 
                    with Gold Medal from St.Xavier’s College, Ranchi
                </p>
            </div>
        </div>
    </div>
</content>