<form action="/submit" method="POST" class="flex submit-form">
    <div class="name-field flex">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Name">
    </div>

    <div class="email-field flex">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Email">
    </div>

    <div class="subject-field flex">
        <label for="subject">Subject</label>
        <input type="text" name="subject" id="subject" placeholder="Subject">
    </div>

    <div class="message-field flex">
        <label for="message">Message</label>
        <textarea name="message" id="message" placeholder="Message"></textarea>
    </div>

    <div class="submitArticle-button-container flex">
        <div class="flex">
            <button type="submit" class="bg-primary-red"><b>Submit</b></button>
        </div>
    </div>
</form>