body {
  margin: 2rem 1rem;
  padding: 1rem;
}

#editor {
  border: solid 2px black;
}

.button-container {
  margin: 20px auto;
  width: 70%;
  text-align: center;
  padding: 1rem;
}

button {
  padding: 25px 35px;
  background-color: black;
  width: 30%;
  color: white;
  font-size: 2em;
  border-radius: 2rem;
}

button:hover {
  cursor: pointer;
}