<%- include('partials/adminHeader') %>

<body>
    <% for( let journal of journals ) { %>
        <p>
            Author:
            <b>
                <%= journal.author %>
            </b>
        </p>
        <p>
            Title:
            <b><%= journal.title %></b>  
        </p> 
    <% } %>
    <a href="/admin/journal">New Journal</a>
</body>
</html>