<% if(success && success.length) { %>
    <div class="alert alert-success" role="alert">
        <div class="message">
            <%= success %>
        </div>
        <div class="cross" role="close">
            <span class="cross-span">&#10006;</span>
        </div>
    </div>
    <% } %>

<% if(error && error.length) { %>
    <div class="alert alert-error" role="alert">
        <div class="message">
            <%= error %>
        </div>
        <div class="cross" role="close">
            <span class="cross-span">&#10006;</span>
        </div>
    </div>
<% } %>

<script type="text/javascript" defer>
    const closeBtn = document.querySelector('.cross')
    closeBtn.addEventListener('click', close)
    function close() {
        const target = document.querySelector('.alert')
        target.style.display = 'none'
    }
</script>