<%- include('partials/header') %>

<body class="flex flex-column bg-primary">

    <%- include('partials/navbar') %>
<div class="podcast-banner flex">
    <div class="left-banner">
        <div>
            <h3 class="podcast-banner-font">PODCAST</h3>
        </div>
    </div>

    <div class="right-banner">
        <h4 class="podcast-banner-font">The OIJPCR Podcast</h4>
    </div>
</div>

<%- include('partials/footer') %>