<%- include('partials/header') %>

<body class="flex flex-column bg-primary">

    <%- include('partials/navbar') %>

<div class="flex submit-container">
    <div class="flex submit-image">
        <img src="assets/svg/submitPage.svg" alt="submit article">
    </div>
    <div class="flex submit-form-container">
        <div class="submit-heading">
            <h3>Submit an Article</h3>
        </div>
        <div class="submit-text">
            <p>
                If you are interested in writing an article for us,
                email us at oijpcr@gmail.com or please write to us.
            </p>
        </div>
        <div class="flex submit-form-wrapper">
            <%- include('partials/submitForm') %>
        </div>
    </div>
</div>

<%- include('partials/footer') %>