<%- include('partials/header') %>

<body class="flex flex-column bg-primary">

    <%- include('partials/navbar') %>

<div class="flex submit-container">
    <div class="flex submit-image">
        <img src="assets/svg/submitPage.svg" alt="submit article">
    </div>
    <div class="flex submit-form-container">
        <div class="submit-heading">
            <h3>Submit an ArticleList</h3>
        </div>
        <div class="submit-text">
            <p>
                If you are interested in writing an article for us, follow these 
                <a href="https://docs.google.com/document/d/1w5pD_7S5kW8vG_6wkTwvjgqLb3nIhYSgS9NUfOPQu2k/edit" target="_blank" style="text-decoration: underline;">guidelines</a> and email us at oijpcr@gmail.com. 
                Or write to us
            </p>
        </div>
        <div class="flex submit-form-wrapper">
            <%- include('partials/submitForm') %>
        </div>
    </div>
</div>

<%- include('partials/footer') %>