:root {
    --primary-red: #FD0054;
    --primary-blue: rgb(40, 160, 240);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.journalList-container {
    /* border: 3px dotted violet; */
    padding: 1em;
    /* margin-top: 2%; */
    margin-bottom: 5%;
}

.new-journal:hover {
    cursor: pointer;
}


.journals-heading {
    font-size: 2em;
    padding: 0.5em;
    letter-spacing: 0.1em;
}

.journal-card-container {
    border: 1px solid var(--primary-red);
    /* background-color: rgb(250, 250, 245); */
    margin: 0.5em 0;
    width: 98%;
    padding: 1em;
    border-radius: 0.5em;
}

.journal-card-title {
    /* border: 2px dashed blue; */
    padding: 0.3em 1em;
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.journal-card-author {
    /* border: 2px dashed green; */
    padding: 1em;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.journal-card-author span {
    font-weight: normal;
}

.journal-card-content {
    /* border: 2px dashed darkturquoise; */
    text-align: justify;
    font-family: 'Lato';
    justify-content: justify;
    font-size: 1.2em;
    padding: 1em;
    /* line-height: 1.5em; */
}

.journal-card-details {
    /* border: 3px solid red; */
    width: 40%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.journal-card-details div,
.journal-card-details form {
    margin-left: 1em;
    display: inline;
}
.podcast-container-main {
    padding: 1em;
    margin-top: 1%;
}
.podcast-list-container {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    width: 100%;
}
.podcast-container {
    margin-top: 2%;
}
.podcast-heading {
    font-size: 2em;
    padding: 0.5em 10% 0;
    letter-spacing: 0.1em;
}
.episode-number {
    text-decoration: underline;
    width: 80%;
    padding-left: 1em;
    /* border-bottom: 1px solid yellow; */
    margin-bottom: 5px;
}
.episode-number > h2 {
    font-size: 1.8em;
    font-weight: bold;
    font-family: 'Arial';
}
.iframe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}
iframe {
    width: 80%;
    border-left: 1px solid #FD0054;
    padding-left: 5px;
    height: auto;
}
.button-container {
    margin-top: 1em;
    padding-left: 10%;
    /* border: 2px solid black; */
}
.button-container form {
    display: inline;
}
.button-container button {
    padding: 0.4em 1em;
}
.btn {
    border: none;
    border-radius: 0.6em;
    font-family: 'Arial';
    font-weight: bold;
    color: black;
    padding: 0.4em 0.6em;
}

.btn-red {
    background-color: var(--primary-red);
}

.btn-blue {
    background-color: var(--primary-blue);
}
.font-md {
    font-size: 1.4em !important;
}
.btn-dark {
    color: white;
    background-color: black;
}
.btn-hover:hover {
    background-color: white;
    border: 1px solid var(--primary-red);
}
.btn-orange {
    background-color: orange;
}

@media (max-width: 1024px) {
    .journalList-container {
        margin-top: 26%;
    }
}