/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/* CSS */
nav {
  /* z-index: 100; */
  justify-content: space-between;
  width: 100%;
  padding: 0 0.5em 0.2em 0.5em;
  position: fixed;
  border-bottom: 2px solid #000000;
  background: var(--background-color);
  /* border: 2px solid rgb(180, 95, 95); */
}

.logo {
  background-image: url(../assets/svg/logo.svg);
  background-size: cover;
  height: 4rem;
  width: 4rem;
  margin-bottom: 0.5em;
  border-radius: 0;
}

.logo:hover {
  cursor: pointer;
}

.nav-font {
  font-family: var(--navbar-font-family);
  font-weight: var(--navbar-font-weight);
  font-size: var(--navbar-font-size);
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav-links > div {
  height: 100%;
  padding: 1rem 1.3rem;
  display: flex;
  align-items: center;
}

.nav-links > div:hover {
  cursor: pointer;
  background-color: var(--hyperlink-hover-backgroundColor);
}

.nav-links > div > a {
  justify-content: center;
}

.submitButton {
  width: 100%;
}

.submit-button > button {
  border: none;
  border-radius: 0.3em;
  width: 100%;
  padding: 0.4em 0.3em;
  margin: 0 0.1em;
  background-color: var(--primary-red);
  box-shadow: 0.3rem 0.4rem 0.2rem rgba(0, 0, 0, 0.2);
}

.toggle-button {
  position: absolute;
  top: 1em;
  right: 1.2em;
  width: 3.6em;
  height: 3.6em;
  padding: 0.8em;
  border-radius: 0.3em;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.toggle-button:hover {
  background-color: var(--toggle-hover-backgroundColor);
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 25%;
  border-radius: 2em;
  background: var(--primary-red);
}

@media (max-width: 1024px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .logo {
    margin-top: 0.6rem;
    height: 4rem;
    width: 4rem;
  }

  .toggle-button {
    display: flex;
  }

  .nav-links {
    display: none;
    width: 80%;
    margin-top: 0.5rem;
  }

  .nav-links.active > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
  }
}
header {
  height: 100vh;
  padding-top: 17vh;
  padding-left: 2em;
  padding-right: 2em;
  /* border: solid violet 7px; */
}

.banner-container {
  height: 65vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: solid green 4px; */
}

.oijpcr-heading {
  height: 100%;
  padding-left: 0.7em;
  padding-top: 0.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.oijpcr-heading-font {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight-normal);
  font-size: 3em;
}

.oijpcr-right-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.oijpcr-right-img > img {
  width: 87%;
  height: 90%;
}

/* .scroll-arrow {
    border: solid blueviolet 5px;
} */
.scroll-arrow > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid blue 5px; */
}

.scroll-arrow a {
  width: 25%;
  height: 25%;
  display: flex;
  justify-content: center;
  /* border: solid orange 5px; */
}

.scroll-arrow img {
  align-items: center;
  /* border: solid red 5px; */
  width: 30%;
  height: 30%;
}

@media (max-width: 1024px) {
  .oijpcr-right-img {
    display: none;
  }

  .banner-container {
    flex-direction: column;
    justify-content: flex-start;
  }

  .oijpcr-heading-font {
    font-size: 4em;
  }

  .oijpcr-heading {
    padding-left: 2em;
  }

  .scroll-arrow a {
    width: 60%;
  }

  .scroll-arrow img {
    width: 40%;
    height: 40%;
  }
}
@media (max-width: 580px) {
  .oijpcr-heading-font {
    font-size: 3em;
  }
}
@media only screen and (max-device-width: 992px) {
  .oijpcr-heading-font {
    font-size: 3em;
  }

  .scroll-arrow img {
    width: 55%;
    height: 55%;
  }
}
@media only screen and (max-device-width: 786px) {
  .oijpcr-heading-font {
    font-size: 3em;
  }

  .scroll-arrow {
    margin-top: 0;
  }

  .scroll-arrow img {
    width: 75%;
    height: 75%;
  }
}
@media only screen and (max-device-width: 600px) {
  .oijpcr-heading-font {
    font-size: 3em;
  }

  .scroll-arrow {
    margin-top: 2em;
  }

  .scroll-arrow img {
    width: 70%;
    height: 70%;
  }
}
/* Surface Duo */
@media only screen and (max-device-width: 540px) {
  .oijpcr-heading-font {
    font-size: 2.5em;
  }

  .scroll-arrow a {
    width: 40%;
    height: 40%;
  }

  .scroll-arrow img {
    width: 60%;
    height: 60%;
  }
}
/* Landscape */
@media only screen and (max-device-width: 720px) {
  .oijpcr-heading-font {
    font-size: 2.5em;
  }

  .scroll-arrow a {
    width: 30%;
    height: 30%;
  }

  .scroll-arrow img {
    width: 60%;
    height: 60%;
  }
}
@media only screen and (max-device-width: 468px) {
  .oijpcr-heading-font {
    font-size: 2.6em;
  }

  .scroll-arrow {
    margin-top: 2em;
  }

  .scroll-arrow img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 420px) {
  .oijpcr-heading-font {
    font-size: 3em;
  }

  .scroll-arrow {
    margin-top: 0;
  }

  .scroll-arrow a {
    width: 40%;
  }

  .scroll-arrow img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 370px) {
  .oijpcr-heading-font {
    font-size: 2.2em;
  }

  .scroll-arrow {
    margin-top: 0;
  }

  .scroll-arrow a {
    width: 40%;
  }

  .scroll-arrow img {
    width: 100%;
    height: 100%;
  }
}
.about-us div {
  justify-content: flex-start;
  padding: 0.6em;
}

.about-us-heading {
  width: 100%;
}

.about-us h2 {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight-normal);
  font-size: 3em;
  padding-left: 1em;
  padding-bottom: 0.6em;
}

.about-us-content {
  margin: 0.2em 2em;
  border: 2px solid #FD0054;
  border-radius: 0.5rem;
  padding: 0.5em 1em;
  background-color: rgba(241, 138, 138, 0.151);
  /* background-color: var(--background-color-secondary); */
}

.about-us-content p {
  font-family: Lato;
  font-size: 1.5em;
  font-weight: normal;
  text-align: justify;
  text-justify: justify;
  padding: 0.2em 2em;
  margin-top: 0.5em;
}

.about-us-content p:nth-child(2) {
  margin: 1em 0;
}

@media screen and (max-width: 768px) {
  .about-us div {
    justify-content: flex-start;
    padding: 0.2em;
  }

  .about-us-heading {
    width: 100%;
  }

  .about-us h2 {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight-normal);
    font-size: 3em;
    padding-left: 1em;
    padding-bottom: 0.6em;
  }

  .about-us-content {
    margin: 0.2em;
    border: 2px solid #FD0054;
    border-radius: 0.5rem;
    background-color: rgba(241, 138, 138, 0.151);
    /* background-color: var(--background-color-secondary); */
  }

  .about-us-content p {
    font-family: Lato;
    font-size: 1em;
    font-weight: normal;
    text-align: justify;
    text-justify: justify;
    word-wrap: break-word;
    word-break: break-word;
    padding: 0.2em 0.8em;
    margin-top: 0.8em;
  }

  .about-us-content p:nth-child(2) {
    margin: 1em 0;
  }
}
.our-team-heading {
  /* border: 3px solid orange; */
  margin-top: 2rem;
  padding-left: 1em;
  font-family: var(--heading-font-family);
  font-size: 3.3em;
  text-align: left;
}

.our-team-heading > h4 {
  font-weight: var(--heading-font-weight-normal);
}

.team-container {
  display: flex;
  flex-direction: row;
  /* border: 4px solid red; */
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
  padding: 0.5em;
}

.team-member-card {
  border: 2px solid var(--primary-red);
  border-radius: 1.5em;
  width: 30%;
  padding: 1em;
  min-height: 33rem;
  background-color: var(--background-color-secondary);
}

.team-member-details {
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: Lato;
}

.team-member-image {
  margin: 1em 0;
  justify-content: center;
}

.team-member-image img {
  width: 30%;
  height: 30%;
  border: 2px solid var(--primary-red);
  border-radius: 50%;
}

.team-member-name {
  font-weight: 700;
  font-size: 2em;
  margin: 0.2em 0 0.5em 0;
}

.team-member-position {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6em;
  text-align: center;
}

.team-member-description {
  line-height: 1.5;
  text-align: justify;
  text-justify: justify;
  word-wrap: break-word;
  word-spacing: -2px;
  padding: 2em;
}

@media (max-width: 1024px) {
  .team-container {
    flex-direction: column;
  }

  .team-member-card {
    width: 75%;
    margin: 1em 0;
  }
}
@media screen and (max-width: 768px) {
  .team-container {
    flex-direction: column;
  }

  .team-member-card {
    width: 100%;
  }

  .team-container {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
    padding: 0 0.1em;
  }

  .team-member-description {
    line-height: 1.5;
    text-align: justify;
    text-justify: justify;
    word-wrap: break-word;
    /* word-spacing: -2px; */
    padding: 1em;
  }

  .team-member-image img {
    width: 30%;
    height: 30%;
    border: 2px solid var(--primary-red);
    border-radius: 50%;
  }

  .team-member-name {
    font-weight: 700;
    font-size: 1.4em;
    margin: 0.2em 0 0.5em 0;
  }

  .team-member-position {
    font-style: normal;
    font-weight: 300;
    font-size: 1.2em;
    text-align: center;
  }
}
footer {
  background-image: url("/assets/svg/topWave.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 20%;
  height: 60vh;
  width: 100%;
}

.social-icons {
  position: absolute;
  left: 2rem;
  bottom: 4rem;
  width: 10em;
  justify-content: space-between;
}

.social-icons img {
  width: 1.8em;
  height: 1.8em;
}

.copyright {
  position: absolute;
  font-size: 1.4em;
  left: 2rem;
  bottom: 1rem;
  font-family: "Lato";
}

.contact-us {
  position: absolute;
  right: 6rem;
  bottom: 2rem;
  font-family: "Montserrat";
}

.contact-us h4 {
  font-size: 1.7em;
  font-family: "Montserrat";
  margin-bottom: 0.5em;
}

.contact-us-details h6 {
  font-size: 1.2em;
}

.contact-us-details p {
  font-size: 1.1em;
}

.contact-us-icon {
  width: 3em;
  height: 3em;
  margin-right: 1em;
  background-image: url("/assets/svg/teamMemberBorder.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-wave {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  footer {
    z-index: -100;
    height: 80vh;
  }

  .bg-wave {
    flex-direction: column;
  }

  .contact-us {
    top: 12rem;
    left: 2rem;
  }
}
.journalList-container {
  /* border: 3px dotted violet; */
  padding: 1em;
  margin-top: 10%;
  margin-bottom: 5%;
}

.journal-volume-container {
  /* border: 2px solid black; */
  justify-content: space-between;
  align-items: center;
  font-size: 1.6em;
  font-weight: 900;
  font-family: "Montserrat";
  margin-bottom: 3%;
}

.journal-volume-container > div {
  border: 2px solid black;
  border-radius: 0.8em;
  padding: 0.5em 1em;
  width: 30%;
  background-color: var(--primary-red);
}

.journal-volume-container > div:hover {
  color: white;
  cursor: pointer;
  background-color: #fd00549a;
}

.journal-card-wrapper {
  justify-content: space-between;
  align-items: center;
}

.journal-card-container {
  border: 2px solid var(--primary-red);
  /* background-color: rgba(253, 226, 226, 0.349); */
  background-color: rgba(161, 161, 161, 0.404);
  font-family: var(--navbar-font-family);
  margin: 0.5em 0;
  width: 95%;
  padding: 1em 1em 0 1em;
  border-radius: 0.5em;
}

.journal-card-title {
  /* border: 2px dashed blue; */
  /* font-family: 'Lucida Sans'; */
  font-family: var(--navbar-font-family);
  padding: 0.3em 1em;
  font-size: 1.4em;
  font-weight: 900;
}

.journal-card-author {
  /* border: 2px dashed green; */
  padding: 1em;
  font-size: 1.2em;
  font-family: var(--navbar-font-family);
  /* letter-spacing: 0.1em; */
}

.journal-card-author span {
  font-weight: 400;
  font-family: var(--navbar-font-family);
}

.journal-card-content {
  /* border: 2px dashed rgb(18, 67, 68); */
  text-align: justify;
  /* font-family: 'Lato'; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  font-size: 1.4em;
  font-family: var(--navbar-font-family);
  padding: 0 1em 1em 1em;
}

.journal-card-slug {
  font-family: var(--navbar-font-family);
  font-size: 1em;
  /* display: inline; */
  max-width: 100%;
}

.journal-card-slug > p {
  font-size: 0.7em;
}

.journal-card-details {
  /* border: 3px dashed darkturquoise; */
  width: 100%;
  margin-top: 0.5em;
  /* display: inline; */
  /* min-width: 20%; */
  padding: 0 1rem 0 0;
}

.journal-card-details > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.read-more {
  background-color: var(--primary-red);
  border: none;
  border-radius: 0.6rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: black;
  padding: 0.4rem 0.6rem;
}

@media (max-width: 1024px) {
  .journalList-container {
    margin-top: 22%;
  }

  .journal-volume-container {
    flex-direction: column;
  }

  .journal-volume-container > div {
    margin-top: 0.5rem;
    width: 100%;
    text-align: center;
  }

  .journal-card-container {
    padding: 1em 1em 0 1em;
  }

  .journal-card-content {
    flex-direction: column;
  }

  .journal-card-slug {
    max-width: 100%;
  }

  .journal-card-details {
    margin-top: 1rem;
  }
}
.journal-container {
  margin-top: 12%;
  padding: 1em 2em;
  margin-bottom: 5%;
  /* border: 2px solid red; */
}

.journal-title {
  padding: 1em;
}

.journal-author {
  padding: 1em;
  font-size: 1.4em;
  letter-spacing: 0.1em;
}

.journal-content {
  /* all these properties don't do shit */
  width: 90vw;
  margin: 0 auto;
}

.journal-social-share-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-share-container {
  margin-left: 0.5em;
  padding: 0.5em;
}

.submit-comment {
  border: 2px solid var(--primary-red);
  border-radius: 12px;
  margin: 8% auto 4% auto;
  padding: 2em;
  width: 80%;
}

.commentBox-heading p:nth-child(1) {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 1.4em;
}

.commentBox-heading p:nth-child(2) {
  font-family: "Jost";
  font-weight: 400;
  font-size: 1em;
}

.submit-comment form {
  /* border: 1px solid var(--primary-red); */
  padding-top: 1em;
}

.submit-comment form > div {
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid var(--primary-red); */
  padding-top: 1em;
}

.submit-comment form > div > div:nth-child(1) {
  justify-content: flex-start;
  align-items: center;
  width: 20%;
  /* padding-left: 1em; */
  font-size: 1.4em;
  /* border: 1px solid blue; */
}

.submit-comment form > div > div:nth-child(2) {
  /* border: 1px solid var(--primary-red); */
  width: 80%;
}

.submit-comment input {
  border: 2px solid black;
  background-color: #C4C4C4;
  border-radius: 0.6em;
  padding: 0.8em;
  min-width: 100%;
  height: 4em;
}

.comment-field > textarea {
  min-width: 100%;
}

.submit-comment form > div > div label {
  font-family: "Jost";
}

.submit-comment form > div > div label::after {
  content: "*";
  color: var(--primary-red);
}

.button-container {
  margin-top: 2%;
}

.button-container button {
  font-family: "Jost";
  font-size: 1.2em;
  border: 1px solid black;
  border-radius: 0.6em;
  background-color: var(--primary-red);
  padding: 0.4em 0.8em;
  margin: 0 auto;
}

.comments-container h1 {
  font-family: "Montserrat";
  /* border: 3px solid black; */
  font-weight: 900;
  font-size: 1.7em;
}

.responses-title {
  /* border: 1px solid green; */
  padding: 0.3em 0;
  margin: 0.5em 0;
  font-family: "Jost";
  font-size: 1.2em;
}

.comments-list {
  /* border: 1px solid var(--primary-red); */
  align-items: space-between;
}

.comment-body {
  border: 2px solid var(--primary-red);
  border-radius: 0.6em;
  margin: 0.5em 0;
  padding: 1em;
}

.comment-profilePicture > img {
  width: 45px;
  height: 45px;
}

.comment-info {
  /* border: 2px solid var(--primary-red); */
  padding: 1px 0.3em;
  margin-left: 0.5em;
}

.comment-info span:nth-child(1) {
  font-family: "Jost";
  font-weight: 700;
  font-size: 1em;
}

#date {
  font-family: "Jost";
  font-weight: 300;
  font-size: 14px;
}

.comment-content {
  /* border: 2px solid var(--primary-red); */
  font-family: "Lato";
  font-size: 1.5em;
  padding: 0.5em 0 0 1em;
}

@media (max-width: 768px) {
  .journal-container {
    margin-top: 16%;
    padding: 1em 0.2em;
    margin-bottom: 5%;
    /* border: 2px solid red; */
  }

  .journal-title {
    padding: 1.8em 0;
  }

  .journal-author {
    padding: 0em;
    padding-bottom: 1em;
    font-size: 1.2em;
    /* border: 2px solid red; */
  }

  .journal-author > h4 {
    padding-left: 1em;
  }

  .journal-content {
    /* border: 2px solid red; */
    padding: 2px;
  }

  .submit-comment {
    width: 99%;
    padding: 0.6em 0.4em;
    margin: 8% 2px 4% 2px;
  }

  .commentBox-heading p:nth-child(1) {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 1.4em;
  }

  .commentBox-heading p:nth-child(2) {
    font-family: "Jost";
    font-weight: 400;
    font-size: 1em;
  }

  .commentBox-heading p:nth-child(2)::after {
    content: "*";
    color: var(--primary-red);
  }

  /* submit form */
  .submit-comment form {
    /* border: 1px solid var(--primary-red); */
    padding-top: 0.2em;
  }

  .submit-comment form > div {
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid var(--primary-red); */
    padding-top: 0.2em;
  }

  .submit-comment input {
    border: 1px solid black;
    background-color: #C4C4C4;
    border-radius: 0.2em;
    padding: 0.6em;
    min-width: 100%;
    height: 2.8em;
  }

  .comment-input-group {
    flex-direction: column;
    margin: 1em 0;
  }

  .submit-comment form > div > div:nth-child(1) {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-bottom: 0.8em;
    font-size: 1em;
    /* border: 1px solid blue; */
  }

  .submit-comment form > div > div:nth-child(2) {
    /* border: 1px solid var(--primary-red); */
    width: 100%;
  }

  .comment-field textarea {
    border: 1px solid black;
    border-radius: 0.2em;
  }

  .button-container button {
    border: 1px solid black;
    border-radius: 0.2em;
    padding: 0.2em 1em;
    width: 100%;
  }

  .comment-body {
    padding: 0.5em;
  }

  .comment-profilePicture > img {
    width: 35px;
    height: 35px;
  }

  .comment-info {
    /* border: 2px solid var(--primary-red); */
    padding: 1px 0.3em;
    margin-left: 0.5em;
  }

  .comment-info span:nth-child(1) {
    font-family: "Jost";
    font-weight: 700;
    font-size: 1em;
  }

  #date {
    font-family: "Jost";
    font-weight: 300;
    font-size: 14px;
  }

  .comment-content {
    /* border: 2px solid var(--primary-red); */
    font-family: "Lato";
    font-size: 1.2em;
    padding: 0.5em 0 0 1em;
  }
}
.podcast-banner-container {
  justify-content: space-around;
  /* border: 3px solid green; */
  margin-top: 14%;
  margin-bottom: 3%;
}

.podcast-banner-container h3 {
  font-weight: var(--heading-font-weight-normal);
  font-size: 2em;
}

.podcast-banner-container h4 {
  font-weight: var(--heading-font-weight-bold);
  font-size: 2.3em;
}

.podcast-banner-font {
  font-family: var(--heading-font-family);
}

.left-banner {
  /* border: 2px solid orange; */
  display: flex;
  min-width: 48%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.left-banner-top {
  /* border: 4px solid hotpink; */
  padding-left: 1em;
  width: 100%;
  text-align: left;
}

.left-banner-bottom {
  padding-top: 3%;
  text-align: center;
  width: 100%;
  /* border: 2px solid blue; */
}

.left-banner-bottom > img {
  /* border: 6px solid black; */
  width: 90%;
  height: 90%;
}

/* .right-banner {
    border: 2px solid olive;
} */
.right-banner-wrapper {
  padding: 1.5em 1em;
  border-radius: 1.5em;
  height: 100%;
  width: 90%;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(253, 0, 84, 0.15);
}

/* .right-banner-top {
    border: 2px solid orange;
} */
.right-banner-middle {
  height: 60%;
  /* border: 2px solid black; */
  justify-content: space-between;
  align-items: center;
}

.right-banner-middle-image {
  min-width: 35%;
  height: 75%;
  /* border: 3px solid yellow; */
}

.right-banner-middle-image > img {
  width: 100%;
  height: 100%;
}

.right-banner-middle-paragraph {
  /* border: 3px solid red; */
  padding: 1em 2em 1em 1em;
  font-family: var(--heading-font-family);
  font-weight: 400;
  font-size: 1em;
  line-height: 1.3em;
  text-align: justify;
  text-justify: justify;
}

.streaming-text {
  font-family: Lato;
  font-weight: 600;
  font-size: 1em;
}

.right-banner-bottom {
  margin-top: 0.5em;
  justify-content: flex-start;
  align-items: center;
}

.right-banner-bottom img {
  width: 2em;
  margin: 0 0.5em;
}

.podcast-list-container {
  /* border: 2px solid darkturquoise; */
  margin-top: 2%;
  justify-content: center;
  align-items: space-between;
  width: 100%;
}

.podcast-container {
  margin-top: 2%;
}

.episode-number {
  text-decoration: underline;
  width: 80%;
  padding-left: 1em;
  margin-bottom: 5px;
}

.episode-number > h2 {
  font-size: 1.8em;
  font-weight: normal;
  font-family: "Montserrat";
  padding-bottom: 0.3em;
}

.iframe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
}

iframe {
  width: 80%;
  border-left: 1px solid #FD0054;
  padding-left: 5px;
  height: auto;
}

@media (max-width: 1024px) {
  .podcast-banner-container {
    flex-direction: column;
    margin-top: 25%;
  }

  .left-banner-bottom {
    display: none;
  }

  .right-banner-wrapper {
    margin-top: 0.5em;
    width: 100%;
  }

  .right-banner-middle {
    margin-top: 1em;
    flex-direction: column;
  }

  .right-banner-middle-image {
    width: 100%;
  }
}
.submit-container {
  /* border: 3px solid red; */
  margin-top: 13%;
  margin-bottom: 4%;
  justify-content: space-around;
  align-items: center;
}

.submit-image {
  /* border: 3px solid hotpink; */
  justify-content: center;
  align-items: center;
}

.submit-container img {
  /* border: 3px solid black; */
  width: 70%;
  height: 60%;
}

.submit-form-container {
  /* border: 3px dashed orange; */
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Jost";
}

.submit-form-container > div {
  margin: 0.5em 0;
}

.submit-heading {
  text-align: left;
  width: 100%;
  /* border: 3px dotted darkviolet; */
}

.submit-heading > h3 {
  font-weight: 400;
  font-size: 2em;
  padding-left: 0.5em;
}

.submit-text {
  /* border: 3px dotted teal; */
  text-align: left;
}

.submit-text > p {
  /* border: 4px dashed darkmagenta; */
  width: 80%;
  padding-left: 0.5em;
  font-weight: 400;
  font-size: 1em;
}

.submit-form-wrapper {
  /* border: 5px solid #00fd76; */
  flex-direction: column;
}

.submit-form {
  /* border: 2px solid orchid; */
  padding: 0.5em;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.submit-form > div {
  /* border: 2px solid darkblue; */
  width: 45vw;
}

.submit-form input {
  border: 2px solid black;
  background-color: #C4C4C4;
  border-radius: 1.2em;
  padding: 0.5em;
  margin-right: 20%;
  min-width: 55%;
  height: 3em;
}

textarea {
  border: 2px solid black;
  background-color: #C4C4C4;
  border-radius: 1.3em;
  padding: 0.5em 1em;
  margin-right: 20%;
  min-width: 55%;
  height: 7em;
}

.submitArticle-button-container {
  justify-content: center;
  align-items: center;
}

.submitArticle-button-container > div {
  /* border: 3px dotted #2bff00; */
  width: 100%;
  justify-content: center;
  align-items: center;
}

.submitArticle-button-container button {
  /* border: 2px solid black; */
  border: none;
  border-radius: 0.3em;
  align-self: center;
  width: 15%;
  padding: 0.6em 0.3em;
  background-color: var(--primary-red);
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

.submit-form > div {
  margin: 0.5em 0;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .submit-container {
    flex-direction: column;
  }

  .submit-form-container {
    margin-top: 10%;
  }

  .submit-form-wrapper {
    width: 100%;
  }

  .submit-form > div {
    width: 100%;
  }

  .submit-form input {
    margin-right: 10%;
    min-width: 65%;
  }

  textarea {
    margin-right: 10%;
    min-width: 65%;
  }

  .submit-image {
    margin-top: 7%;
  }

  .submit-image img {
    display: none;
  }

  .submitArticle-button-container button {
    margin-top: 5%;
    width: 80%;
  }
}
/* utils */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  /* background: var(--primary-red); */
  background: #c70646;
  height: 7rem;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--hyperlink-color);
}

a:hover {
  color: var(--primary-red);
}

button:hover {
  cursor: pointer;
}

img:hover {
  cursor: pointer;
}

:root {
  --background-color: #fbf9fa;
  --background-color-secondary: #ece9e9;
  --primary-red: #FD0054;
  --navbar-font-family: "Montserrat", sans-serif;
  --navbar-font-weight: 900;
  --navbar-font-size: 1.3rem;
  /* 24px */
  --heading-font-size: 3rem;
  /* 72px */
  --heading-font-family: "Jost", sans-serif;
  --heading-font-weight-bold: 700;
  --heading-font-weight-normal: 400;
  --hyperlink-color: #000000;
  --hyperlink-hover-backgroundColor: #f3e0e05d;
  --toggle-hover-backgroundColor: rgba(0, 0, 0, 0.555);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

.bg-primary {
  background-color: var(--background-color);
}

.bg-primary-red {
  background-color: var(--primary-red);
}

*:focus {
  outline: none;
}

/*# sourceMappingURL=app.css.map */
