/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

:root {
    --background-color: #E5E5E5;
    --navbar-button-color: #FD0054;
    --navbar-font-family: Montserrat, sans-serif;
    --navbar-font-weight: 700;
    --navbar-font-size: 1.5em; /* 24px */
    --heading-font-size: 3em; /* 72px */
    --heading-font-family: Jost, sans-serif;
    --heading-font-weight: 700;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

h1 {
    color: purple;
}

nav {
    justify-content: space-between;
    padding: 0.2em 0.5em;
}

footer {
    margin-top: auto;
    width: 100%;
}

.logo {
    background-image: url(../assets/svg/logo.svg);
    background-size: cover;
	height: 6rem;
	width: 6rem;
	border-radius: 0;
}

.nav-links {
    font-family: var(--navbar-font-family);
    font-weight: var(--navbar-font-weight);
    font-size: var(--navbar-font-size);
    justify-content: space-around;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.bg-primary {
    background-color: var(--background-color);
}

.bg-primary-red {
    background-color: var(--navbar-button-color);
}