/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

:root {
    --background-color: #E5E5E5;
    --navbar-button-color: #FD0054;
    --navbar-font-family: Montserrat, sans-serif;
    --navbar-font-weight: 900;
    --navbar-font-size: 1.3rem; /* 24px */
    --heading-font-size: 3rem; /* 72px */
    --heading-font-family: Jost, sans-serif;
    --heading-font-weight: 700;
    --hyperlink-color: #000000;
    --hyperlink-hover-backgroundColor: #ccc5c5;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

h1 {
    color: purple;
}

nav {
    justify-content: space-between;
    width: 100%;
    padding: 0 0.5em 0.2em 0.5em;
    position: fixed;
    border: 2px solid rgb(180, 95, 95);
}

footer {
    margin-top: auto;
    width: 100%;
}

.logo {
    background-image: url(../assets/svg/logo.svg);
    background-size: cover;
	height: 6rem;
	width: 6rem;
	border-radius: 0;
}

.logo:hover {
    cursor: pointer;
    background-color: var(--hyperlink-hover-backgroundColor);
}
.nav-font {
    font-family: var(--navbar-font-family);
    font-weight: var(--navbar-font-weight);
    font-size: var(--navbar-font-size);
}

.nav-links {
    justify-content: space-evenly;
    align-items: center;
}

.nav-links > div {
    height: 100%;
    padding: 1rem 1.3rem;
    display: flex;
    align-items: center;
}

.nav-links > div:hover {
    cursor: pointer;
    background-color: var(--hyperlink-hover-backgroundColor);
}

.nav-links > div > a {
    justify-content: center;
}

.submitButton {
    width: 100%;
}

.submitButton > button {
    border: none;
    border-radius: 0.3em;
    width: 100%;
    padding: 0.4em 0.3em;
    margin: 0 0.1em;
    background-color: var(--navbar-button-color);
    box-shadow: 0.3rem 0.4rem 0.2rem rgba(0, 0, 0, 0.2);
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.bg-primary {
    background-color: var(--background-color);
}

.bg-primary-red {
    background-color: var(--navbar-button-color);
}

a {
    text-decoration: none;
    color: var(--hyperlink-color);
}