header {
    /* margin-top: 18vh; */
    height: 95vh;
}

.banner-container {
    margin-top: 20vh;
    height: 72vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.oijpcr-heading {
    height: 100%;
    padding-left: 0.7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.oijpcr-heading-font {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight-normal);
    font-size: 3em;
}

.oijpcr-right-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.oijpcr-right-img > img {
    width: 80%;
    height: 75%;
}