footer {
    background-image: url('/assets/svg/topWave.svg');
    background-repeat: no-repeat;
    /* border-top: 3px solid black; */
    background-position: center;
    background-size: cover;
    margin-top: 20%;
    height: 60vh;
    width: 100%;
}