.submit-container {
    /* border: 3px solid red; */
    margin-top: 13%;
    margin-bottom: 4%;
    justify-content: space-around;
    align-items: center;
}

.submit-image {
    /* border: 3px solid hotpink; */
    justify-content: center;
    align-items: center;
}

.submit-container img {
    /* border: 3px solid black; */
    width: 70%;
    height: 60%;
}

.submit-form-container {
    /* border: 3px dashed orange; */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Jost';
}

.submit-form-container > div {
    margin: 0.5em 0;
}

.submit-heading {
    text-align: left;
    width: 100%;
    /* border: 3px dotted darkviolet; */
}

.submit-heading > h3 {
    font-weight: 400;
    font-size: 2em;
    padding-left: 0.5em;
}

.submit-text {
    /* border: 3px dotted teal; */
    text-align: left;
}

.submit-text > p {
    /* border: 4px dashed darkmagenta; */
    width: 80%;
    padding-left: 0.5em;
    font-weight: 400;
    font-size: 1em;
}

.submit-form-wrapper {
    /* border: 5px solid #00fd76; */
    flex-direction: column;
}

.submit-form {
    /* border: 2px solid orchid; */
    padding: 0.5em;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.submit-form > div {
    /* border: 2px solid darkblue; */
    width: 45vw;
}

.submit-form input {
    border: 2px solid black;
    background-color: #C4C4C4;
    border-radius: 1.2em;
    padding: 0.5em;
    margin-right: 20%;
    min-width: 55%;
    height: 3em;
}

textarea {
    border: 2px solid black;
    background-color: #C4C4C4;
    border-radius: 1.3em;
    padding: 0.5em 1em;
    margin-right: 20%;
    min-width: 55%;
    height: 7em;
}

.submitArticle-button-container {
    justify-content: center;
    align-items: center;
}

.submitArticle-button-container > div{
    /* border: 3px dotted #2bff00; */
    width: 100%;
    justify-content: center;
    align-items: center;
}
.submitArticle-button-container button {
    /* border: 2px solid black; */
    border: none;
    border-radius: 0.3em;
    align-self: center;
    width: 15%;
    padding: 0.6em 0.3em;
    background-color: var(--primary-red);
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

.submit-form > div {
    margin: 0.5em 0;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .submit-container {
        flex-direction: column;
    }
    .submit-form-container {
        margin-top: 10%;
    }
    .submit-form-wrapper {
        width: 100%;
    }
    .submit-form > div {
        width: 100%;
    }
    .submit-form input {
        margin-right: 10%;
        min-width: 65%;
    }
    
    textarea {
        margin-right: 10%;
        min-width: 65%;
    }
    .submit-image {
        margin-top: 7%;
    }
    .submit-image img {
        display: none;
    }
    .submitArticle-button-container button {
        margin-top: 5%;
        width: 80%;
    }
}