.our-team-heading {
    /* border: 3px solid orange; */
    margin-top: 2rem;
    padding-left: 1em;
    font-family: var(--heading-font-family);
    font-size: 3.3em;
    text-align: left;
}

.our-team-heading > h4 {
    font-weight: var(--heading-font-weight-normal);
}

.team-container {
    display: flex;
    flex-direction: row;
    /* border: 4px solid red; */
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
    padding: 0.5em;
}

.team-member-card {
    border: 2px solid var(--primary-red);
    border-radius: 1.5em;
    width: 30%;
    padding: 1em;
    min-height: 33rem;
    background-color: var(--background-color-secondary);
}

.team-member-details {
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: Lato;
}

.team-member-image {
    margin: 1em 0;
    justify-content: center;
}

.team-member-image img {
    width: 30%;
    height: 30%;
    border: 2px solid var(--primary-red);
    border-radius: 50%;
}

.team-member-name {
    font-weight: 700;
    font-size: 2em;
    margin: 0.2em 0 0.5em 0;
}

.team-member-position {
    font-style: normal;
    font-weight: 300;
    font-size: 1.6em;
    text-align: center;
}

.team-member-description {
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;
    /* border: 1px solid var(--primary-red); */
    /* text-overflow: justify; */
    padding: 2em;
}

@media (max-width: 1024px) {
    .team-container {
        flex-direction: column;
    }

    .team-member-card {
        width: 75%;
        margin: 1em 0;
    }
}